{% extends 'base.html' %}

{% block content %}
<div class="container">
    <section style=""><h1>resultado</h1></section>
    <div class="row">
        {% for electronico in  electronicos %}
        <div class="col-md-3">
            <div class="card  style="width: 18rem;">
                <img src="{{electronico.avatar.url}} " class="card-img-top" alt="...">
                <div class="card-body">
                  {% if electronico.modelo %}
                    <h5 class="card-title" style="padding-top: 30px;">{{electronico.modelo}} </h5>
                  {% else %} 
                    <h5 class="card-title" style="padding-top: 30px;">{{electronico.tipo}} </h5>
                  {% endif %}
                  
                  <p class="card-text">{{electronico.titulo | truncatechars:50 }} </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{electronico.precio}} </li>
                  <li class="list-group-item">{{electronico.procesador}} </li>
                  {% if electronico.tamaño %}
                    <li class="list-group-item">tamaño: {{electronico.tamaño}} </li>
                  {% elif electronico. %}
                    <li class="list-group-item">tamaño: {{electronico.tamaño}} </li>
                  {% endif %}
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

        </div>
          
        {% endfor %}

{% endblock content %}